{% layout 'layout.liquid' %}
{% block content %}

<div class="container-sm">
    <form action="/auth/login" method="POST">
        <fieldset>
            <legend>Welcome Back, Please log in to continue</legend>
            <label class="form-label">Username: </label>
            <input type="text" name="username" placeholder="username" class="form-control" required>
            <label class="form-label">Password</label>
            <input type="password" name="password" placeholder="enter password" class="form-control" required>
        </fieldset>
        <div class="form-floating mb-3">
  <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
  <label for="floatingInput">Email address</label>
</div>
<div class="form-floating">
  <input type="password" class="form-control" id="floatingPassword" placeholder="Password">
  <label for="floatingPassword">Password</label>
</div>
        <input type="submit" value="Log In" class="btn btn-success">
    </form>
</div>

{% endblock %}