{% layout 'layout.liquid' %}
{% block content %}
<div class="container-sm">
    <form action="/consoles" method="POST">
        <fieldset>
            <legend>Create New Console</legend>
            <label class="form-floating mb-3">Console Name: </label>
            <input 
            
                type="text" 
                name="name" 
                placeholder="enter title"
                class="form-control"
            >
            <label class="form-label">Developer:</label>
            <input 
                type="text" 
                name="manufacturer" 
                placeholder="enter body" 
                class="form-control"
            >
            <label class="form-label">Year Made:</label>
            <input 
                type="type" 
                name="releaseYear" 
                class="form-control"
                placeholder="year"
            >
            <label class="form-label">Average Ratings:</label>
            <input 
                type="type" 
                name="ratings" 
                class="form-control"
            >

        </fieldset>
        <input type="submit" value="Make New Console" class="btn btn-success">
    </form>
</div>
{% endblock %}