{% layout "layout.liquid" %}
{% block content %}

<div class="fs-1 text-center">
<h1 class="text-light fw-bold text-decoration-underline">Welcome to Games R Us</h1>
<h2>We have the latest and greatest consoles at your fingertips!</h2></div>
    </div>
    <div class="d-flex justify-content-between">

        <img style="width:200px;" src="https://eurasianamusements.com/wp-content/uploads/2019/11/IMGBIN_mortal-kombat-armageddon-sub-zero-scorpion-noob-saibot-pixel-art-png_6y4xbUCX.png" >
        <img style="width:200px;" src="https://eurasianamusements.com/wp-content/uploads/2020/03/home-joystick.png">
        <img style="width:175px;" src="https://th.bing.com/th/id/R.c13e41031f67146fd478c4e57e6d588b?rik=DrxRxq55fLondA&pid=ImgRaw&r=0">
        <img style="width:175px;" src='https://th.bing.com/th/id/R.d8606bf99485cc83f8edc0c7864d0d08?rik=Vt4N6ZNm98vS2g&riu=http%3a%2f%2fclipart-library.com%2fimage_gallery2%2fPlayStation-PNG-Image-PNG.png&ehk=wBFoS9JCnT9qVtSXXCVZ2saCSzs8fY1VS4NfP4xO6iw%3d&risl=&pid=ImgRaw&r=0'>
    </div>

{% endblock %}