{%  layout 'layout.liquid'%}
{% block content %}
    {% if review.comments.length > 0 %}
        <div class="container-sm justify-content-center">
            {% for comm in review.comments %}
                {% render '../reviews.liquid', comm: comm, userId: userId, review: review %}
            {% endfor %}
        </div>
    {% else %}
    <small>no comments yet</small>
    {% endif %}
{% endblock %}