{% layout 'layout.liquid' %}
{% block content %}
<div class="container-sm">
    <form action="/consoles" method="POST">
        <fieldset>
            <legend>Create New Console</legend>
            <label class="form-label">Console Name: </label>
            <input 
                type="text" 
                name="title" 
                placeholder="enter title"
                class="form-control"
            >
            <label class="form-label">Developer:</label>
            <input 
                type="text" 
                name="body" 
                placeholder="enter body" 
                class="form-control"
            >
            <label class="form-label">Year Made:</label>
            <input 
                type="type" 
                name="name" 
                class="form-control"
            >
        </fieldset>
        <input type="submit" value="Make New Console" class="btn btn-success">
    </form>
</div>
{% endblock %}